* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    width: 100%;
    height: 100vh;
}

.strip {
    position: relative;
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    cursor: pointer;
}

.strip--relax {
    background: forestgreen;
}

.strip--explore {
    background: khaki;
}

.strip--travel {
    background: dodgerblue;
}

.strip--achieve {
    background: orange;
}

.strip--dare {
    background: violet;
}

.strip__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
}

.strip__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
    opacity: 0;
}

.strip__title {
    position: relative;
    z-index: 10;
    font-family: Helvetica, sans-serif;
    font-weight: 900;
    font-size: 2rem;
    color: white;
    opacity: 1;
}

.container:hover .strip:hover {
    flex: 5;
}

.container:hover .strip:hover .strip__img {
    opacity: 1;
}

.container:hover .strip:hover .strip__overlay {
    opacity: 1;
}

.container:hover .strip:hover .strip__title {
    opacity: 0;
}